.lg-container
  %h1.text-h1= t('.editing_mailshot')
  = render "form", mailshot: @mailshot, communication_preferences_keys: @communication_preferences_keys
  %br/
  %div
    = link_to t('.manage_this_mailshot'), @amailshot
    |
    = link_to t('.back_to_mailshots'), admin_mailshots_path
