.lg-container
  %h1.text-h1.mb-16= t('.title')
  = render "form", community_video: @community_video
  %br/
  %div
    = link_to t('.show_this'), [:admin, @community_video]
    |
    = link_to t('.back_to_index'), admin_community_videos_path
